---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import NavBar from '../components/NavBar.astro';
import PageHeader from '../components/PageHeader.astro';

---

<Layout title="Welcome to Astro.">
	<NavBar/>
	 <PageHeader title="welcome to learning javascript"/>
	<main class="bg-red-500">
		<h1 class="text-3xl">Welcome to Island Architecture</h1>
		 
	</main>
</Layout>

 
