---
import Layout from '../layouts/Layout.astro';
import NavBar from '../components/NavBar.astro';
 
---

<Layout title="Learning JavaScript">
   <NavBar/>
	<main class="bg-red-500">
		<h1 class="text-3xl">Learning JavaScript</h1>
		 
	</main>
</Layout>
