<nav class="py-2 px-4">
    <ul class="flex justify-center gap-8">
        <li><a class="text-blue-600 font-semibold underline" href="/">home</a></li>
        <li><a class="text-blue-600 font-semibold underline" href="/javascript">learn javascript</a></li>
    </ul>
</nav>

 